body {
  font-family: sans-serif;
  background-color: lightgoldenrodyellow;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  display: inline-block;
}

.preview-img {
  width: 10em;
  height: 10em;
}

.all-products {
  display: flex;
  flex-direction: row;
  /* margin: 1em; */
  flex-wrap: wrap;
  max-width: 75vw;
}

.catalog {
  display: flex;
  flex-direction: row;
}

.product_Preview {
  border: solid 5px gold;
  border-radius: 15px;
  width: 300px;
  height: 300px;
  box-shadow: 2px 2px 2px gray;
  background-color: lightgoldenrodyellow;
  margin-left: 2em;
  margin-bottom: 2em;
  display: flex;
  width: 250px;
  height: 300px;
  flex-direction: column;
  align-items: center;
}

.product_Preview h3 {
  color: green;
  text-shadow: 0.5px 0.5px darkgreen;
}

.product_Preview h2 {
  color: red;
  text-shadow: 1px 1px black;
}

#availability {
  color: red;
  text-shadow: 1px 1px black;
}

.product_Preview a:hover {
  color: yellow;
}

.product_image, .product_details {
  margin: 0.5em;
  align-content: center;
}

.all-items {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.item {
  display: flex;
  flex-direction: row;
}

.site-title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 5em;
  text-shadow: 2px 2px black;
  color: red;
  background-color: gold;
  border: 1px lightgrey solid;
  margin: 10px;
  width: 4.6em;
  border-radius: 75% 25%;
}
h1:first-child{
  margin: 10px;
}

.middle-section {
  display: flex;
  flex-direction: row;
}

.auth-form {
  display: flex;
  flex-direction: column;
  padding-right: 2em;
}

.auth-div {
  margin: auto;
  width: 70%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 20vw;
  border-width: 5px;
  border-style: solid;
  border-color: gold;
  border-radius: 15px;
  box-shadow: 2px 2px 2px gray;
  align-items: center;
  margin-left: 1em;
  margin-bottom: 2em;
}

.singleProduct {
  margin-bottom: 10em;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart {
  display: flex;
  width: 100vw;
  align-items: center;
  flex-direction: column;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}
.header-right {
  display: flex;
}
 .header-padding{
   padding-top: 3em;
 }

.ui.menu:after {
  content: none;
}

.search-bar {
  display: flex;
  flex-direction: column;
  color: red;
  text-shadow: 1px 1px 1px black;
  margin-bottom: 1em;
}

.search-filters {
  color: red;
  text-shadow: 1px 1px 1px black;
  align-items: center;
}

.search-filters-checkbox {
  margin-left: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-filters-checkbox-label {
  margin-left: 15px;
  text-shadow: 0.5px 0.5px 0.5px black;
  color: red;
}

.ui.menu .item:before {
  content: none;
}

.ui.menu {
  background-color: rgb(241, 245, 184);
  margin-bottom: 0em;
}
.ui.button {
  border:  1px lightgrey solid;
}
