body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  display: inline-block;
}

.preview-img {
  width: 10em;
  height: 10em;
}

.all-products {
  display: flex;
  flex-direction: row;
  margin: 1em;
  flex-wrap: wrap;
  max-width: 75vw;
}

.catalog {
  display: flex;
  flex-direction: row;
}

.product_Preview {
  margin: 1em
}

.all-items {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.item {
  display: flex;
  flex-direction: row;
}

.site-title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 5em;
  text-shadow: 2px 2px black;
  color: red;
  background-color: gold;
  margin: 0px;
  width: 4.6em;
  border-radius: 75% 25%;
}

.middle-section {
  display: flex;
  flex-direction: row;
}

.auth-form {
  display: flex;
  flex-direction: column;
  padding-right: 2em;
}

.auth-div {
  margin: auto;
  width: 70%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 25vw;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  align-items: center;
  margin: 0;
}

.single-product {
  margin-left: 20px;
  width: 75vw;
  display: flex;
}

.cart {
  display: flex;
  width: 100vw;
  align-items: center;
  flex-direction: column;
}