body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.preview-img {
  width: 10em;
  height: 10em;
}

.all-products {
  display: flex;
  flex-direction: row;
  margin: 1em;
}

.product_Preview {
  margin: 1em
}

.all-items {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.item {
  display: flex;
  flex-direction: row;
}

.site-title {
  font-family: cursive;
  font-size: 5em;
  text-shadow: 2px 2px black;
  color: gold;
  background-color: forestgreen;
  margin: 0px;
  width: 4.6em;
  border-radius: 50%;
}

.middle-section {
  display: flex;
  flex-direction: row;
}